In [1]:
import numpy as np
import pandas as pd

In [2]:
col1 = [1, 2, 3,  np.nan, 5,np.nan]
col2 = [3, 13, 7, np.nan, 4, np.nan]
col3 = [3, np.nan, 10, np.nan, 4, np.nan]
y = [10, 15, 8,  14, 16, np.nan]
data = {'feature1':col1, 'feature2':col2, 'feature3':col3, 'label':y}
df = pd.DataFrame(data)
print(df)

   feature1  feature2  feature3  label
0       1.0       3.0       3.0   10.0
1       2.0      13.0       NaN   15.0
2       3.0       7.0      10.0    8.0
3       NaN       NaN       NaN   14.0
4       5.0       4.0       4.0   16.0
5       NaN       NaN       NaN    NaN

In [3]:
# 1.按默认参数删除：
df1 = df.dropna()
print(df1)
# 2.删除值全为空的行：
df1 = df.dropna(axis=0,how='all')
print(df1)
# 3.保留至少有两个非空值的行：
df3 = df.dropna(thresh=2)
print(df3)
# 4.指定列删除空缺值：
df4 = df.dropna(subset=['feature1', 'feature2'])
print(df4) 
# 5.直接在原有的dataframe上删除空缺值：
dfcopy = df.copy()
df5 = dfcopy.dropna(inplace=True)
print('--df5---')
print(df5)
print('--dfcopy---')
print(dfcopy)

   feature1  feature2  feature3  label
0       1.0       3.0       3.0   10.0
2       3.0       7.0      10.0    8.0
4       5.0       4.0       4.0   16.0
   feature1  feature2  feature3  label
0       1.0       3.0       3.0   10.0
1       2.0      13.0       NaN   15.0
2       3.0       7.0      10.0    8.0
3       NaN       NaN       NaN   14.0
4       5.0       4.0       4.0   16.0
   feature1  feature2  feature3  label
0       1.0       3.0       3.0   10.0
1       2.0      13.0       NaN   15.0
2       3.0       7.0      10.0    8.0
4       5.0       4.0       4.0   16.0
   feature1  feature2  feature3  label
0       1.0       3.0       3.0   10.0
1       2.0      13.0       NaN   15.0
2       3.0       7.0      10.0    8.0
4       5.0       4.0       4.0   16.0
--df5---
None
--dfcopy---
   feature1  feature2  feature3  label
0       1.0       3.0       3.0   10.0
2       3.0       7.0      10.0    8.0
4       5.0       4.0       4.0   16.0

In [4]:
# 1.删除指定列：
df10 = df.drop(['feature1', 'feature2'], axis=1)
print(df10) 
# 2.删除指定行：
df11 = df.drop([0,1,2,3], axis=0)
print(df11)

   feature3  label
0       3.0   10.0
1       NaN   15.0
2      10.0    8.0
3       NaN   14.0
4       4.0   16.0
5       NaN    NaN
   feature1  feature2  feature3  label
4       5.0       4.0       4.0   16.0
5       NaN       NaN       NaN    NaN

In [5]:
# 1.使用指定值填充所有缺失值：
df20 = df.fillna(0)
print(df20) 
# 2.使用前值填充所有缺失值：
df21 = df.fillna(method='ffill')
print(df21) 
# 3.使用后值填充所有缺失值：
df22 = df.fillna(method='bfill')
print(df22)

   feature1  feature2  feature3  label
0       1.0       3.0       3.0   10.0
1       2.0      13.0       0.0   15.0
2       3.0       7.0      10.0    8.0
3       0.0       0.0       0.0   14.0
4       5.0       4.0       4.0   16.0
5       0.0       0.0       0.0    0.0
   feature1  feature2  feature3  label
0       1.0       3.0       3.0   10.0
1       2.0      13.0       3.0   15.0
2       3.0       7.0      10.0    8.0
3       3.0       7.0      10.0   14.0
4       5.0       4.0       4.0   16.0
5       5.0       4.0       4.0   16.0
   feature1  feature2  feature3  label
0       1.0       3.0       3.0   10.0
1       2.0      13.0      10.0   15.0
2       3.0       7.0      10.0    8.0
3       5.0       4.0       4.0   14.0
4       5.0       4.0       4.0   16.0
5       NaN       NaN       NaN    NaN

C:\Users\PC\AppData\Local\Temp\ipykernel_23064\2990081894.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df21 = df.fillna(method='ffill')
C:\Users\PC\AppData\Local\Temp\ipykernel_23064\2990081894.py:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df22 = df.fillna(method='bfill')

In [6]:
values = {'feature1': 100, 'feature2': 200, 'feature3': 300, 'label': 400}
df23 = df.fillna(value=values)
print(df23)

   feature1  feature2  feature3  label
0       1.0       3.0       3.0   10.0
1       2.0      13.0     300.0   15.0
2       3.0       7.0      10.0    8.0
3     100.0     200.0     300.0   14.0
4       5.0       4.0       4.0   16.0
5     100.0     200.0     300.0  400.0